<nav>
  <ul>
    <li *ngFor="let item of menu.items">
      <button type="button" [routerLink]=[item.route] [ngStyle]="{
        'background-color': router.url === '/'+[item.route] ? 'red' : '',
        opacity: router.url === '/'+[item.route] ? 1 : 0.5
      }">
        <i class="{{item.iconCssClass}}" ></i>
        {{item.title}} 
        <div *ngIf="router.url === '/'+[item.route]">___________</div>
      </button>
    </li>
  </ul>
  <style>
    .selected {
      background-color: blue;
      color: blue;
    }
  </style>
  <!-- [ngClass]="{'selected': currentRoute === item.route}"> -->